[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "crisp"]
	path = crisp
	url = https://github.com/cran/crisp
	shallow = true
	registered = true
[submodule "flam"]
	path = flam
	url = https://github.com/cran/flam
	shallow = true
	registered = true
[submodule "scalpel"]
	path = scalpel
	url = https://github.com/cran/scalpel
	shallow = true
	registered = true
